/* Global Variables */
:root {
    --primary-bg-color: darkblue;
    --primary-text-color: white;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: var(--primary-bg-color);
    color: var(--primary-text-color)
}

a {
    color: var(--primary-text-color);
}
